<h3>Add a new movie</h3>
  <%= simple_form_for [ @list, @bookmark ] do |f| %>
  <%= f.input :comment, placeholder: 'Add your comment' %>
  <%= f.input :ratings, placeholder: 'Add your rating', collection: 1..5, id: "example"  %>
  <%= f.association :movie, input_html: { class: 'select2' } %>
  <%= f.submit "Add movie", class: "btn btn-primary" %>
  <% end %>
